SPRING_DATASOURCE_URL=jdbc:postgresql://<RDS_ENDPOINT>:5432/<DB_NAME>
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
SPRING_JPA_HIBERNATE_DDL_AUTO=validate
SPRING_FLYWAY_ENABLED=true
SPRING_FLYWAY_LOCATIONS=classpath:db/migration

KAKAO_API_KEY=
KAKAO_API_BASE_URL=https://dapi.kakao.com
KAKAO_OAUTH_USER_INFO_URL=https://kapi.kakao.com/v2/user/me
PUBLIC_API_KEY=
PUBLIC_API_BASE_URL=https://apis.data.go.kr/1741000/youth_game_providers/info

JWT_SECRET=
JWT_ACCESS_TOKEN_EXPIRATION=3600000
JWT_REFRESH_TOKEN_EXPIRATION=1209600000
